# Virtual environment
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# IDE and editor settings
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Other system files
.DS_Store
Thumbs.db
